.footer{
    background-color: #25333c;
    &_top{
        padding-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        &_img{
            width: 67px;
            height: 71px;
        }
        &_text{
            font-size: 16px;
            font-weight: bold;
            line-height: 1.25;
            text-align: left;
            color:$textWhite;
        }
        &_question{
            display: flex;
            flex-direction: column;
            align-items:flex-end ;
            .question{
                font-size: 14px;
                font-weight: 300;
                line-height: 1.71;
                text-align: right;
                color: $textWhite;
            }
            .tel{
                font-size: 19px;
                font-weight: bold;
                line-height: 1.26;
                text-align: right;
                color: $textWhite;
            }

        }
        .button{
            width: 160px;
            height: 45px;
            @include button;
        }
    }
    .line{
        display: block;
        width:100%;
        height: 1px;
        opacity: 0.3;
        background:$textWhite ;
        margin-top: 26px;
    }
    &_bottom{
        margin-top: 19px;
        padding-bottom: 28px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        &_text{
            opacity: 0.6;
            font-size: 13px;
            font-weight: 300;
            line-height: 1.31;
            text-align: center;
            color: $textWhite;
        }
        .active{

            font-size: 13px;
            font-weight: 300;
            line-height: 1.31;
            text-align: center;
            color:$base_color;
        }
        &_logo{
            .text{
                opacity: 0.6;
                font-size: 13px;
                font-weight: 300;
                line-height: 1.31;
                text-align: right;
                color: $textWhite;
            }
            .logo{
                width: 30px;
                height: 32px;
            }

        }
    }
    .up{
        width:40px;
        display:block;
        position:fixed;
        top:90%;
        left:95%;
        filter: hue-rotate(250deg);
        opacity: 0;
        & img {
            width:100%;
            &:hover{
                filter: hue-rotate(90deg);
            }
        }
    }
}